@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

html {
  width: 100vw;
  min-height: 100vh;
  /* min-width: 540px; */
}

/* all similar content styling codes */
/* section {
    padding: 100px 0;
} */

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


.about, .home, .contact{
    font-family: 'Montserrat', sans-serif;
}
.home .home-content,
.about .about-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 2px 3px 0px #898999;
}
/* section .title::before{
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    width: 245px;
    height: 5px;
    background: #fff;
    transform: translateX(-50%);
} */


#index {
  /* background: rgba(63,255,227,0.5326505602240896); */
  /* background: linear-gradient(180deg, rgba(63,255,227,0.5326505602240896) 70%, rgba(160,213,255,1)  100%); */
  background: rgb(255,160,213);
  background: linear-gradient(29deg, rgba(255,160,213,1) 0%, rgba(138,251,236,1) 44%);

}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100vw;
    padding: 30px 0;
    /* background: crimson; */
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    z-index: 1;
}

.navbar.sticky{
    padding: 10px 0;
    background: #f6d55c;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #1e507b;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a:hover span{
  color: #ec553b;
  font-size: 35px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar.sticky .logo a:hover span{
  color: #ec553b;
  font-size: 35px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar.sticky .logo a{
  color: #fff;
}

.navbar.sticky .menu li a{
  color: #fff;
}


.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
  color: #1e507b;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  /* -webkit-text-stroke: 0.3px black; */
}

.navbar .menu li a:hover{
    color:#000;
    
    /* rgb(224, 171, 21) */
}

/* menu btn styling */
.menu-btn{
    color:#1e507b;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.navbar.sticky .menu-btn{
  color: #fff;
}


.navbar.sticky .menu li a:hover{
    color: #ec553b;
}


.home{
  position: relative;
  display: flex;  
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100vh;
  color: #fff;
  min-height: 1000px;
  font-family: 'Poppins', sans-serif;
  

}

.home::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: url("images/ocean2.jpg") no-repeat center;
  /* opacity: 0.9; */
  z-index: -1;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
/* .home .home-content .text-1, .text-2, .text-3{
  text-shadow: 2px 3px 0px #898999;
} */


.home .home-content .text-1{
  position: relative;
  font-size: 40px;
  color: #1e507b;
  margin-bottom: -20px;
  /* -webkit-text-stroke: 1px black; */

}

canvas{
  margin-right: 100px;
}

.home .home-content .text-2{
  position: relative;
  font-size: 95px;
  font-weight: 600;
  margin-left:-3px;
  /* color: rgb(117,91,49); */
  color: #fff;
  /* -webkit-text-stroke: 1px #6f0000; */
  text-shadow: 2px 3px 0px #898999;

}

.home .home-content .text-3{
  position: relative;
  font-size: 40px;
  margin-top: -15px;
  width: 650px;
}

.home .home-content .text-3 span{
  color: #ec553b;
  font-weight: 500;
}

.home .home-content a{
  color: #fff;
  background: none;
  font-family: 'Montserrat', sans-serif;
}

.home .home-content a:hover{
  color: #fff;
  background: none;
  
}

.home .home-content .left{
  width: 45%;
}

.home .home-content .right{
  padding-left: 20px;
  width: 45%;
}
.home .home-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.home .home-content .right .text span{
  color: rgb(224, 171, 21);
}
.home .home-content .right p{
  text-align: justify;
}
.home .home-content .right a{
  display: inline-block;
  background: #ec553b;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ec553b;
  transition: all 0.3s ease;
}
.home .home-content .right a:hover{
  color: #ec553b;
  background: none;
}











/* about section styling */ 
/* #about{
  padding-top: 0px;
  margin-top: 0px;
} */
.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 510px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}
.about .about-content .right{
  width: 55%;
  background-color: #1e507b;
  border-radius: 6px;
  padding: 20px;
  /* border: 2px solid; */
  /* border-color: #f6f3f4; */
    -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}
.about .about-content .right .text span{
  color: crimson;
}
.about .about-content .right p{
  text-align: left;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.05em;
  /* font-size: 0.875em;
  letter-spacing: 0.063em; */
}
.about .about-content .right a{
  display: inline-block;
  background: #ec553b;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin: 20px 0 20px;
  border-radius: 6px;
  border: 2px solid #ec553b;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover{
  color: #ec553b;
  background: none;
}

#icons {
  padding: 10px 14px;
  margin: 0 10px 0;
}

/* Contact */
#contact {
  margin-bottom: 30px;
}


/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 970px){
  .menu-btn{
      display: block;
      z-index: 3;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: rgb(26, 26, 26);
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  canvas {
    margin: 0px;
    display: none;
  }
  .home .home-content .text-2{
      font-size: 130px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }

  .about .about-content .left img{
    height: 400px;
    width: 450px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .home .home-content .column{
    width: 100%;
  }
  .home .home-content .left{
    display: flex;
    justify-content: center;
  }
  
}

@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2{
      font-size: 110px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
}
@media (max-width: 500px) {
  .max-width{
    padding: 0 23px;
  }
  .home{
    min-height: 100vh;
  }

  .home .home-content .right{
    padding: 0px;
    width: 70vw;
  }
  
  .home .home-content .text-1{
    font-size: 30px;
  }
  .home .home-content .text-2{
    font-size: 75px;
  }
  .home .home-content .text-3{
    font-size: 27px;
    width: 70vw;
  }
  .about .about-content .left img{
    height: 400px;
    width: 100%;
  }

  .about .about-content .right .text{
      font-size: 19px;
  }
}

.technical {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin:120px 0px 0px;
}
#small{
  font-size: 10px;
  margin:10px 0px 10px;
}

#email {
  font-size: 14px;
  margin: 0px;
}





/* Project Page Styling */

#project_page {
  /* background-image: linear-gradient(rgb(0, 195, 255),#DBF9FC) */
  /* background-image: linear-gradient(rgb(0, 195, 255),rgb(118,249,218)) */
  /* background: linear-gradient(180deg, #d9e7ff 0%, #e3ffe7 100%); */
  /* background: rgb(160,213,255);
  background: linear-gradient(180deg, rgba(160,213,255,1) 0%, rgba(161,216,233,0.804359243697479) 63%, rgba(63,255,227,1) 100%); */
/* 
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  background-image:linear-gradient(to right top,#d16ba5,#c777b9,#ba83ca,#aa8fd8,#9a9ae1,#8aa7ec,#79b3f4,#69bff8,#52cffe,#41dfff,#46eefa,#5ffbf1)
  /* background: rgb(209,107,165);
  background: linear-gradient(to right top, rgba(209,107,165,1) 0%, rgba(134,168,231,1) 50%, rgba(95,251,241,1) 100%); */
  /* background: rgb(209,107,165);
  background: linear-gradient(45deg, rgba(209,107,165,1) 0%, rgba(134,168,231,1) 63%, rgba(95,251,241,1) 100%); */
}

#project_about_container{
  padding-top: 120px;
}

.project_header {
  font-size: 60px;
  font-weight: 600;
  color: #1e507b;
  text-align: center;
}

.project_subheader {
  font-size: 1em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin:20px 0px 10px;
  letter-spacing: 0.006em;
}

#project_page .about-content {
  padding: 25px 0px;
}

#project_left img{
  height: 375px;
  width: 475px;
}

.additional_projects{
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional_projects img{
  object-fit: cover;
  border-radius: 6px;
  height: 250px;
  width: 100%;
  margin: 20px 0 10px;
  -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
}

.additional_projects a{
  display: inline-block;
  background: #ec553b;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ec553b;
  transition: all 0.3s ease;

  /* box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.42);
  -webkit-box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 4px 6px 16px 0px rgba(0,0,0,0.42); */

  -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
  box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);

  margin-bottom: 100px;
}
.additional_projects a:hover{
  color: #ec553b;
  background: none;

  box-shadow: none;
  transition: box-shadow 0.3s ease;
}

#project_about .right {
  height: 375px;
}


/* project responsive */
@media (max-width: 1270px){
  #project_about .column{
      width: 100%;
  }
  #project_about .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  #project_about .right{
      flex: 100%;
      height: auto;
  }
}

@media (max-width: 530px){

  #project_left img{
    width: 100%;
  }

  .additional_projects a{
    width: 100%;
    text-align: center;
  }

}

/* Contact page styling */

#contact_page {
  background: linear-gradient(315deg, #fe93ec 0%, #93fda5 100%)
}

.contact_info p, a{
  text-align: left;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.05em;
  text-align: center;
}

.contact_info a:hover{
  color: #000;
  transition: color 0.3s ease;
  
}
.contact_title{
  font-size: 1em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin:20px 0px 10px;
  letter-spacing: 0.006em;
  text-align: center;
}

.contact_line {
  margin: 5px 0 5px;
}





/* #contact_container {
  position: relative;
  min-height: 100vh;
  border: 2px solid #006100;
}

.contact_info{
  width: max-width;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */

